node_modules/
.env
dist/
build/
*.db
*.log
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
jenkins/data
jenkins/jenkins_home
client/node_modules
server/node_modules
client/dist
server/dist
